.sidebar {
    top: 65px;
    left: 0;
    width: 50px;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background: rgb(239 223 235);
  }
  
  .sidebar.expanded {
    width: 300px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 5px 0;
    cursor: pointer;
    align-items: center;
    font-size: large;
  }

  nav{
    justify-items: center;
    margin-top: 32px;
  }
  
  .sidebar .expand-icon {
    float: right;
    cursor: pointer;
  }
  
  .sidebar .expanded-content {
    padding-top: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    gap: 6px;
    svg{
      width: 30px;
      height: 30px;
    }
  }

  .sidebar li:hover{
    color: #b3327c;
  }

  .active{
    cursor: pointer;
    color: #b3327c;
    }

  