.container {
    display: flex;
    background-color: #ffff;
    width: -webkit-fill-available;
    border-top-left-radius: 10px;
  }

  .main{
    width: -webkit-fill-available;
  }

  .filter {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 40px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter select {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    color: #333;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .filter select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .filter option {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    background-color: #f7f7f7;
  }
  
  .filter::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
  }
  
  .filter select:focus + .filter::after {
    border-color: #333 transparent transparent transparent;
  }


  .main-content {
    background: #ffff;
    padding: 20px;
    border-top-left-radius: 10px;
    height: 91vh;
    .main-title{
        margin-top: 20px;
    }
  }

  .assessment-header{
    margin: 20px 0;
    .managed-assessments{
        margin: 10px 0;
        font-weight: 500;
        font-size: 1.2rem;
    }
  }

  .assessments-grid {
    display: grid;
    gap: 15px;
    margin-top: 20px;
    position: relative;
    height: 22vh;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: #f8f4f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    .title{
        justify-items: left;
        font-size: 1.1rem;
    }

    .card-footer{
        display: flex;
        justify-content: space-between;
        .department{
            font-weight: bold;
            color: gray;
        }
    }
  }
  
  .card .icon {
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    svg{
        width: 25px;
        height: 25px;
    }
  }
  
  .card .department, .card .semester {
    font-size: 14px;
    color: gray;
  }
  
  .add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: white;
    border: 2px dashed gray;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .card-footer {
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
  }
  
  .card-footer p {
    font-size: 16px;
    color: #666;
  }
  
  .add-card:hover {
    background-color: #eee;
  }