.dashboard-content {
  font-family: Arial, sans-serif;
  width: -webkit-fill-available;
}
/* Dashboard Container */
.dashboard-container {
    padding: 5px;
    height: 83vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    background: #fff;
  }
  
  /* Dashboard Header */
  .dashboard-header {
    display: flex;
    align-items: center;
    gap: 715px;
    padding: 5px 10px;
  }

  .primary-button{
    background: black;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .dashboard-header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .dashboard-header h1 {
    font-size: 24px;
    font-weight: bold;
  }


  
  /* Sidebar */
  
  .search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    background: #f8f4f7;
    cursor: pointer;
  }

  .student-item:nth-child(2n+1) {
    background-color: #f9f9f9;
  }
  
  .student-item.selected {
    background-color: #ddd;
    font-weight: bold;
  }
  
  /* Main Content */
  .mainContent {
    flex: 1 1;
    padding: 0 20px;
    border-radius: 6px;
    margin: 3px;
    background: #f8f4f7;
  }
  
  .question-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 10px;
    background: #fff;
  }
  
  .answer-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .questions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 3px;
  }
  

  .questions button {
    padding: 18px 15px;
    cursor: pointer;
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
  }

  
  .questions button.active {
    background: #652E73FF;
    color: white;
    font-weight: bold;
  }
  
  .questions button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .prev button, .next button{
    font-weight: 600;
  }
  
  /* Right Panels */
  .right-panels-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .score-panel-header{
    display: flex;
    justify-content: space-between;
  }
  .score-panel, .sub-question-panel {
    padding: 12px;
    border-radius: 8px;
    background: #f8f4f7;
  }
  .feedback{
    font-size: 15px;
    font-weight: 500;
    padding: 7px 0;
    height: 10vh;
    max-height: 20vh;
    overflow-y: auto;
  }
  .feedback.sub{
    font-size: 14px;
  }
  .sub-question-panel{
    height: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h2, h3 {
    margin: 0;
    color: #333;
    align-self: center;
  }
  
  .tags {
    margin-top: 8px;
    display: flex;
  }
  
  .tag {
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 4px;
  }
  
  .approve-button, .send-button {
    background: #652E73FF;
    color: white;
    border: none;
    padding: 7px 28px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .approve-button:hover, .send-button:hover, .next-button:hover {
    background-color: rgb(77, 32, 88);
  }
  
  .score-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .score-description {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .score-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .score-item h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .score-item ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #666;
    font-size: 14px;
  }
  
  .progress-container{
    margin:20px;
  }

  .progress-bar {
    width: 90%;
    height: 8px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 17px;
  }
  
  .progress {
    width: 88%;
    height: 100%;
    background: #6a0dad;
  }

  .score-item-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Chat Section */

  .chat-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f8f4f7;
  }
  
  .chat-header{
    justify-items: center;
  }

  .chat-history {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }
  
  .chat-message {
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 12px;
    background-color: #aaaaaa;
    color: black;
  }
  
  .chat-message.user {
    align-self: flex-start;
    border-radius: 0 15px 15px 15px;
  }
  
  .chat-message.system {
    align-self: flex-end;
    border-radius: 15px 0 15px 15px;
  }
  
  .comment-section {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    justify-content: center;
  }
  
  .comment-section input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
  }

  /* Footer */
  .primary-button.next{
    padding: 5px 20px;
  }

  .footer{
    padding: 3px;
    display: flex;
    justify-content: flex-end;
  }
