.mast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.3rem 1rem 1rem;
  }
  
  .side-header {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .side-header img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
  
  .side-header h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }
  
  .icons svg {
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    cursor: pointer;
  }
  